.cuestionarioP {
    padding-top: 2rem;
}

.titulo-seccion {
    font-size: 25px;
    text-align: center;
    font-style: italic;
}

.pregunta-seccion {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.error-message {
    color: red;
    font-style: italic;
  }